import React, { FC } from 'react'
import styles from './{{ pascalCase componentName }}.module.scss'

interface Props {
  name: string
}

const {{ pascalCase componentName }}: FC<Props> = ({ name }) => {
  return (
    <div className={styles.wrap}>
      <h1>Hi - {name}</h1>
    </div>
  )
}

export default {{ pascalCase componentName }}
